$headerHeight : 60px;
$primaryColor : #2A7F40;
$primaryColorLight : #54BF70;
$primaryColorHeavy : #0E3F1B;
$secondaryColor : #D6CD70;
$secondaryColorLight : #FFF58E;
$secondaryColorHeavy : #9D9545;


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 微软雅黑, sans-serif;
  overflow: hidden;
  min-width: 1024px;
}

.col1 {  width: 8.3%;  }
.col2 {  width: 16.6%;  }
.col3 {  width: 25%;  }
.col4 {  width: 33.3%;  }
.col5 {  width: 41.5%;  }
.col6 {  width: 50%;  }
.col7 {  width: 58.3%;  }
.col8 {  width: 66.6%;  }
.col9 {  width: 75%;  }
.col10 {  width: 83.3%;  }
.col11 {  width: 91.6%;  }
.col12 {  width: 100%;  }

.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12 {
  display: inline-block;
}

a {
  color: $secondaryColor;
  cursor: pointer;
  text-decoration: none;

  transition: .5s;

  &:hover {
    color: $secondaryColorHeavy;
    text-decoration: underline;
  }
}

nav {
  width: 100%;
  opacity: .5;
  background-color: black;

  ul {
    width: 100%;
    list-style: none;
    line-height: $headerHeight;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


    li {
      float: left;
      color: whitesmoke;
      cursor: pointer;
      text-align: center;
      padding: 0 5px;
      flex-grow: 1;

      transition: .5s;

      a {
        color: whitesmoke;
        text-decoration: none;

        &:hover {
          color: $primaryColor;
          text-decoration: none;
        }
      }

      &:hover, &:active {
        background-color: whitesmoke;
        color: black;

        a {
          color: $primaryColor;
          text-decoration: none;
        }
      }
    }

  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.container {
  width: 80%;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 90px;
}
.row {
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
span {
  &.bold {
    font-weight: bold;
  }
}

.card {
  padding: 20px 30px;
  border-radius: 6px;
  background-color: floralwhite;
  opacity: .85;

  h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;

    &.left {
      text-align: left;
    }
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;

    &.left {
      text-align: left;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

    &.left {
      text-align: left;
    }
  }

}

footer {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  background-color: black;
  opacity: .5;

  display: flex;
  justify-content: center;
  align-items: center;

  .footer-section {
    flex-grow: 1;
    text-align: center;
    line-height: 100px;
    color: whitesmoke;
  }
}

hr {
  border: .5px solid darkgray;
}