<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Assignment</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/assignment.css" rel="stylesheet">
</head>
<body>
    <img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

    <div class="scroller">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="staff.html">Staff</a></li>
                <li><a href="hours.html">Hours</a></li>
                <li><a href="lectures.html">Lectures</a></li>
                <li><a href="labs.html">Labs</a></li>
                <li><a href="assignments.html">Assignments</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="calendar.html">Calendar</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="card col12">
                <h2 class="left">Assignments</h2>
                <p>All assignments are due at 11:59pm on the specifed date unless otherwise noted.</p>
                <ul id="track-list">
                    <li>
                        <h3 class="left">Concentrator</h3>
                        <ul>
                            <li><a href="https://cs.brown.edu/courses/csci1320/homeworks/hw0/hw0.html">Assignment 0: Logistics & Setup</a>, due 2/3 11:59PM</li>
                            <li><a href="https://cs.brown.edu/courses/csci1320/homeworks/hw1/hw1.html">Assignment 1: HTML & CSS</a>, due 2/8 11:59PM</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="left">Designer</h3>
                        <ul>
                            <li><a href="https://cs.brown.edu/courses/csci1320/homeworks/hw0/hw0.html">Assignment 0: Logistics & Setup</a>, due 2/3 11:59PM</li>
                            <li><a href="https://cs.brown.edu/courses/csci1320/homeworks/hw1/hw1.html">Assignment 1: HTML & CSS</a>, due 2/8 11:59PM</li>
                        </ul>
                    </li>
                </ul>

                <p>For information on submitting a final project please see our <a href="https://cs.brown.edu/courses/csci1320/submissions.html">submissions page</a>.</p>
                <p>Students interested in submitting a final project should look at the information on the <a href="https://cs.brown.edu/courses/csci1320/index.html">home page</a>.</p>
                <p>Note that Pre-lab homeworks are listed on the LABS page and that pre-lecture homework for the next class is announced at the end of the previous lecture</p>
            </div>
        </div>

    </div>

</body>
</html>