<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Calendar</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/calendar.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Calendar</h2>
            <p>This calendar will be updated throughout the semester.</p>
            <p><span class="bold">NOTE:</span> all assignments are due at 11:59pm.</p>
            <p><a href="mailto:cs1320.spring2018@gmail.com">cs1320.spring2018@gmail.com</a></p>
            <img style="width: 100%" src="../resource/calendar2.png">
        </div>
    </div>

</div>

</body>
</html>