<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Hours</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/hours.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Hours</h2>
            <p>This calendar will be updated throughout the semester.</p>
            <p><span class="bold">NOTE:</span> All hours will be held in CIT room 205. You may also set up an appointment with any particular TA (via email) if you cannot make it to their hours.</p>
            <p><span class="bold">IMPORTANT:</span> We will be using Signmeup for hours. The link for sign me up is <a href="https://signmeup.cs.brown.edu/">HERE</a></p>
            <h3 class="left">TA Hours</h3>
            <img src="../resource/calendar.png" id="calendar">
        </div>
    </div>

</div>

</body>
</html>