<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Labs</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/labs.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Labs</h2>
            <p>All labs are held in-class. Make sure to complete the pre-lab before that day's lab!</p>
            <ul>
                <li>
                    <p>Lab 1 (2/01): HTML & CSS <a href="https://cs.brown.edu/courses/csci1320/labs/lab1/prelab1.html">[PRE LAB]</a> <a href="https://cs.brown.edu/courses/csci1320/labs/lab1/lab1.html">[LAB]</a> <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=129fb353-e28c-4c8c-8e40-a872012cf5b9">[Lecture Capture]</a></p>
                </li>
                <li>
                    <p>Lab 2 (2/01): JavaScript <a href="https://cs.brown.edu/courses/csci1320/labs/lab2/prelab2.html">[PRE LAB]</a></p>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>