<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 lectures</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/lectures.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Lectures</h2>
            <p>Lectures take place Monday, Wednesday, Friday from 10:00 to 10:50pm in MacMillan 117 located on 167 Thayer St.</p>
            <ol>
                <li>
                    <p>Welcome to CS132 - 1/24/18</p>
                    <p><a href="https://cs.brown.edu/courses/csci1320/lectures/2018/cs132lect01.pdf">[Slides]</a></p>
                </li>
                <li>
                    <p>The	Browser	and HTML - 1/26/18</p>
                    <p><a href="https://cs.brown.edu/courses/csci1320/lectures/2018/cs132lect02.pdf">[Slides]</a> <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=4f0ea3c7-e057-4b65-93a5-a872012cf531">[Lecture Capture]</a></p>
                </li>
                <li>
                    <p>Accessibility - 1/29/18</p>
                    <p><a href="https://cs.brown.edu/courses/csci1320/lectures/2018/cs132lect03.pdf">[Slides]</a> <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=4c19245b-150c-418e-b5bc-a872012cf581">[Lecture Capture]</a></p>
                </li>
                <li>
                    <p>Javascript - 2/1/18</p>
                    <p><a href="https://cs.brown.edu/courses/csci1320/lectures/2018/cs132lect04.pdf">[Slides]</a> <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=b27cde31-83be-4e35-9b8d-a872012cf5f6">[Lecture Capture]</a></p>
                </li>
                <li>
                    <p>Dynamic Web Pages - 2/5/18</p>
                    <p><a href="https://cs.brown.edu/courses/csci1320/lectures/2018/cs132lect05.pdf">[Slides]</a> <a href="https://brown.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=abe4218a-118d-4a46-8acd-a872012cf62e">[Lecture Capture]</a></p>
                </li>
            </ol>
        </div>
    </div>


</div>

</body>
</html>