<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 News</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/news.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">News</h2>
            <ul>
                <li>
                    <h3 class="left">01/24/18</h3>
                    <ul>
                        <li>Welcome to CS132! Students who have developed project proposals must submit them HERE by Saturday, January 27, 2018 @ 11:59PM.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>