<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Resources</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/resources.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Resources</h2>
            <hr>
            <h3 class="left">Syllabus</h3>
            <ul>
                <li>
                    <p>Please find the syllabus at this <a href="https://cs.brown.edu/courses/csci1320/resources/syllabus-spr18.pdf">link</a>.</p>
                </li>
            </ul>
            <hr>
            <h3 class="left">Collaboration Policy</h3>
            <p>In order to participate in the class, you'll need to complete the collaboration policy at this <a href="https://goo.gl/forms/R95MH4nzaBXQcQEC2">link</a>.</p>
            <hr>
            <h3 class="left">TA-Provided Mini-Guides</h3>
            <ul>
                <li><a href="http://cs.brown.edu/courses/cs132/resources/devsetup/">Development Environment Setup</a></li>
                <li><a href="http://cs.brown.edu/courses/cs132/resources/inspector/">Google Chrome Web Inspector</a></li>
            </ul>
            <hr>
            <h3 class="left">Anonymous Feedback</h3>
            <ul>
                <li>Please use the following anonymous <a href="https://goo.gl/forms/6zzlo1ASJ8A7wj8f2">form</a> to help make 132 better!</li>
            </ul>
            <hr>
            <hr>
            <h3 class="left">External Resources</h3>
            <p>HTML/CSS</p>
            <ul>
                <li><a href="https://developer.mozilla.org/en/HTML">HTML introduction and Reference by Mozilla.</a></li>
                <li><a href="https://developer.mozilla.org/en/CSS">CSS introduction and Reference by Mozilla.</a></li>
                <li><a href="http://code.google.com/edu/submissions/html-css-javascript/">Google Code University: HTML, CSS, Javascript from the Ground Up</a></li>
                <li><a href="http://www.w3.org/TR/css3-selectors/#selectors">The W3C's list of types of CSS selectors</a></li>
            </ul>
            <p>NodeJS</p>
            <ul>
                <li><a href="http://nodejs.org/api/index.html">Node.js Documentation</a></li>
                <li><a href="http://www.nodebeginner.org/">Node Beginner Book</a></li>
            </ul>
            <p>HTML5 APIs</p>
            <ul>
                <li><a href="http://diveintohtml5.info/">'Dive Into HTML5' tutorial by Mark Pilgrim.</a></li>
                <li><a href="https://developer.mozilla.org/en/HTML/HTML5">HTML5 introduction by Mozilla.</a></li>
                <li><a href="http://www.html5rocks.com/en/">HTML5ROCKS list of HTML5 features by group.</a></li>
                <li><a href="http://news.ycombinator.com/item?id=1799469">A very good 'Hacker News' post with HTML5 resources.</a></li>
                <li><a href="http://html5demos.com/">HTML5 api demos.</a></li>
            </ul>
            <p>Javascript</p>
            <ul>
                <li><a href="http://madebyevan.com/jsintro/">JavaScript Introduction for (classical) programmers by Evan Wallace.</a></li>
                <li><a href="http://bonsaiden.github.com/JavaScript-Garden/">JavaScript Garden: A documentation of JavaScript quirks useful to those with some JavaScript experience.</a></li>
                <li><a href="http://eloquentjavascript.net/contents.html">'Eloquent JavaScript', an online book discussing JavaScript.</a></li>
                <li><a href="https://developer.mozilla.org/en/JavaScript">JavaScript introduction by Mozilla.</a></li>
                <li>Harvard lectures series on JavaScript and Ajax. [<a href="http://academicearth.org/lectures/building-dynamic-websites-javascript">1</a>, <a href="http://academicearth.org/lectures/building-dynamic-websites-javascript-2">2</a>, <a href="http://academicearth.org/lectures/building-dynamic-websites-ajax-1">3</a>, <a href="http://academicearth.org/lectures/building-dynamic-websites-ajax-2">4</a>]</li>
            </ul>
        </div>
    </div>


</div>

</body>
</html>