<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS132 Stuff</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/staff.css" rel="stylesheet">
</head>
<body>
<img class="bg" src="../resource/a-low-poly-style-art_wallpprs.com_.png">

<div class="scroller">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="staff.html">Staff</a></li>
            <li><a href="hours.html">Hours</a></li>
            <li><a href="lectures.html">Lectures</a></li>
            <li><a href="labs.html">Labs</a></li>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="calendar.html">Calendar</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card col12">
            <h2 class="left">Staff</h2>
            <h3 class="left">Professor</h3>
            <p>Email: <a href="mailto:spr@cs.brown.edu">spr AT cs.brown.edu</a> </p>
            <p>Steve Reiss (spr)</p>

            <h2 class="left">Head Teaching Assistants (HTAS)</h2>
            <p>Email: <a href="mailto:cs1320headtas@lists.brown.edu">cs1320headtas@lists.brown.edu</a></p>
            <div class="staff-container">
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/anthony.jpg"/>
                    <p class="staff-name">Anthony Cruz</p>
                    <p class="staff-login">abcruz</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/hoang.jpg"/>
                    <p class="staff-name">Hoang Nguyen</p>
                    <p class="staff-login">hln</p>
                </div>
            </div>

            <h2 class="left">Teaching Assistants (UTAs)</h2>
            <p>Email: <a href="mailto:cs1320tas@lists.brown.edu">cs1320tas@lists.brown.edu</a></p>
            <div class="staff-container">
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/luis.jpg"/>
                    <p class="staff-name">Luis Aguirre</p>
                    <p class="staff-login">laguirre</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/yuanning.jpg"/>
                    <p class="staff-name">Yuanning Hu</p>
                    <p class="staff-login">yhu52</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/abhishek.JPG"/>
                    <p class="staff-name">Abhishek Dutta</p>
                    <p class="staff-login">adutta2</p>
                </div>
            </div>
            <div class="staff-container">
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/shaili.jpg"/>
                    <p class="staff-name">Shaili Jha</p>
                    <p class="staff-login">sjha3</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/caleb.jpg"/>
                    <p class="staff-name">Caleb Kim</p>
                    <p class="staff-login">ck332</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/shingo.jpg"/>
                    <p class="staff-name">Shingo Lavine</p>
                    <p class="staff-login">slavine</p>
                </div>
            </div>
            <div class="staff-container">
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/koko.jpg"/>
                    <p class="staff-name">Koko Nakajima</p>
                    <p class="staff-login">knakajim</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/charles.jpg"/>
                    <p class="staff-name">Charles Tan</p>
                    <p class="staff-login">ctan</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/charlene.jpg"/>
                    <p class="staff-name">Charlene Wang</p>
                    <p class="staff-login">hwang35</p>
                </div>
            </div>
            <div class="staff-container">
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/kelly.png"/>
                    <p class="staff-name">Kelly Wang</p>
                    <p class="staff-login">kwang6</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" src="../resource/brendan.jpg"/>
                    <p class="staff-name">Brendan Woo</p>
                    <p class="staff-login">bw12</p>
                </div>
                <div class="staff-material">
                    <img class="staff-avatar" />
                    <p class="staff-name"></p>
                    <p class="staff-login"></p>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>