.scroll-container {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

  .scroll-panel {
    width: 100%;

    .item-container {
      margin-top: 5px;
      .item-nickname {
        font-weight: bold;
      }
    }
  }
}
